.container-fluid
{
    background-color: rgb(236, 239, 242);
    height: 100%;
}
.row
{
    background-color: white;
    /* border: 2px solid gray; */
}
.col,.col-md-12,.col-3
{
    background-color: rgba(248, 244, 244, 0.948);
    border: 2px solid black;

}
.ul li {
    
    list-style: none;
    /* margin: 10px 20px; */

    

    
}
a{
    /* text-decoration: none;
    color: rgb(8, 7, 7);
    padding: 15px 15px;
    font-size: 20px; */

    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    

}
a:hover, a:active {
    background-color: green;
    color: white;
  }

  .tab-pane a
  {
    /* background-color: blueviolet; */
    /* border: 10px solid red; */
    margin: 45px;
    border-radius: 50px;
    padding: 28px;
  }
  #myname
  {
    border: 2px solid lightblue;
    box-shadow:0 0 40px #e36a6a;
    /* padding: 0px; */
    /* text-shadow: #e36a6a; */
    text-decoration: underline;

  }
